

.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}
.header-links {
    font-size: 18px;
    display: flex;
    gap: 16px;
    color: #E5E7EB;
}

.header-stuff {
    display: flex;
    background-color: #1F2937;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 500px;
    
}
.header-content {
    
    padding-right: 180px;
    
}
.header-title {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    width: 300px;
    padding-bottom: 10px;
    
}

.header-description {
    color: #E5E7EB;
    font-size: 18px;
    width: 400px;
    padding-bottom: 10px;
}

.header-sign-up {
    padding-bottom: 10px;
}

.button1 {
    background: #3882F6;
    color: white;
    font-family: Roboto, sans-serif;
    border: none;
    border-radius: 8px;
}

.image-place {
    background: grey;
    height: 120px;
    width: 500px;
    
}
li {
    list-style: none;
}

a {
    color: #E5E7EB;
    text-decoration: none;
}

.image-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.catalog {
    display: flex;
    gap: 52px;
    height: 300px;
}

.info {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    padding: 16px;
}

.text {
    width: 140px;
    flex-wrap: wrap;
}

.image {
    text-align: center;
    
}

.testimonial {
    display: flex;
    height: 300px;
    background-color: #E5E7EB;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.quote{
    width: 800px;
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
}

.quote-by {
    font-style: bold;
    font-size: 36px;
    padding-left: 400px 
}

.sign-banner {
    height: 300px;
    display: flex;
    background-color: #3882F6;
    justify-content: center;
    align-items: center;
    margin: 100px;
    border-radius: 25px;
    gap: 42px; 
}

.banner-sign-up-button {
    border-color: white;
}

.button2 {
    background: #3882F6;
    color: white;
    font-family: Roboto, sans-serif;
    border-color: white;
    border-radius: 8px;
}

.call {
    color: white;
    font-weight: bold;
}

.sign-up-message {
    color: whitesmoke;
}

.footer {
    height: 100px;
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
    
}